* {
  outline: none;
}

.resourcesMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #358bb2;
  box-shadow: 5px 5px 10px rgb(189, 191, 192);
  border-radius: 30px;
  height: auto;
  width: 60%;
  margin: 50px;
}

.resourcesSecDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
  margin-top: -10px;
}

.resourcesSecDiv h3 {
  font-size: 2em;
  font-family: 'Baloo Bhai';
  color: white;
  padding: 10px;
}

.resourcesSecDiv p {
  font-size: 3.5em;
  font-family: 'Baloo Bhai';
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.resourcesSecDiv p:hover {
  transform: rotate(180deg);
  font-size: 4em;
  color: #cacedde3;
}

.resourcesSubHeader {
    display: flex;
    flex-direction: row;
    background-color: navy;
    align-items: center;
    justify-content: center;
    height: 12rem;
    width: 100%;
}

.resourcesSubHeaderTitle {
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    padding: 30px;
}

.resourcesCardSection {
  display: grid;
  grid-template-columns: 38rem 38rem;
  justify-items: center;
  align-items: center;
  margin: 60px;
  margin-bottom: 5rem;
}

.resourcesControls-show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.resourcesControls {
  display: none;
}

.resourcesControls-show label {
  font-size: 1.2em;
  margin: 15px;
}

.resourcesControls-show select {
  font-size: 0.8em;
  margin: 15px;
  padding: 5px;
}

.resourcesCard {
  background-color: #C7D2F366;
  width: 25rem;;
  height: 40rem;;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgb(189, 212, 227);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 5rem;
}

.resourcesCard h1 {
  font-size: 2.2em;
  padding: 30px;
  text-align: center;
  margin-bottom: -10px;
}

.resourcesCard h2 {
  background-color: rgb(4, 108, 145);
  color: white;
  font-size: 1.2em;
  border-radius: 30px;
  font-family: sans-serif;
  padding: 20px;
}

.resourcesCard a {
  text-decoration: none;
  color: white;
  background-color: rgb(60, 57, 57);
  border-radius: 30px;
  padding: 5px 20px 5px 20px;
  margin: 10px;
  font-size: 1em;
  transition: all 0.3s ease;
}

.resourcesCard a:hover {
  font-size: 1.2em;
}

.resourcesCard:hover {
  background-color: #C7D2F366;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(140, 145, 159);
}

.resourcesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resourcesInput {
  background-color: rgb(238, 241, 243);
  padding: 5px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.resourcesButton {
  color: black;
  background-color: #dde5e9;
  font-size: 1.2em;
  font-family: 'baloo bhai';
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.resourcesButton:hover {
  background-color: #ffffff;
}

